@using Shizou.Data.Extensions
@using Shizou.Server.Services
<Offcanvas Direction="@(OffcanvasDirection.End)">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Filtering and Sorting</h5>
    </div>
    <div class="offcanvas-body">
        @if (_editingFilter is null)
        {
            <div class="input-group">
                <select class="form-select" @onchange="@OnFilterSelect">
                    <option value="" default>Pick a filter</option>
                    @foreach (var filter in _filters)
                    {
                        <option value="@(filter.Id)" selected="@(FilterId == filter.Id)">@(filter.Name)</option>
                    }
                </select>
                @if (FilterId is not null)
                {
                    <button type="button" class="btn btn-primary" @onclick="@EditFilter">Edit Filter</button>
                }
                <button type="button" class="btn btn-success" @onclick="@CreateFilter">New Filter</button>
            </div>
        }
        else
        {
            <EditForm Model="@_editingFilter" OnValidSubmit="@SaveFilter">
                <DataAnnotationsValidator/>
                <div class="mb-3">
                    <div class="form-floating mb-1">
                        <InputText class="form-control" id="nameInput" placeholder="Name" @bind-Value="@(_editingFilter.Name)"></InputText>
                        <label for="nameInput">Name</label>
                    </div>
                    <ValidationMessage For="@(() => _editingFilter.Name)"></ValidationMessage>
                </div>
                <button type="button" class="btn btn-outline-danger mb-3" @onclick="@(() => _editingFilter = null)">Cancel</button>
                <button type="submit" class="btn btn-success mb-3">Save</button>
            </EditForm>
            <CriteriaPicker Filter="@_editingFilter"></CriteriaPicker>
        }
        <div class="input-group mt-2">
            <select class="form-select" @onchange="@OnSortSelect">
                @foreach (var sort in Enum.GetValues<AnimeSort>())
                {
                    <option value="@sort" selected="@(Sort == sort)">@(sort.ToString().UpperCaseSpaced())</option>
                }
            </select>
            <div class="input-group-text">
                <label>
                    Descending:
                    <InputCheckbox Value="@Descending" ValueChanged="OnSortDirectionChanged" ValueExpression="@(() => Descending)"></InputCheckbox>
                </label>
            </div>
        </div>
    </div>
</Offcanvas>
