<Offcanvas Direction="@(OffcanvasDirection.End)">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Offcanvas</h5>
    </div>
    <div class="offcanvas-body">
        @if (_editingFilter is null)
        {
            <div class="input-group">
                <select class="form-select" @onchange="@OnSelectAsync">
                    <option value="" default>Pick a filter</option>
                    @foreach (var filter in _filters)
                    {
                        <option value="@(filter.Id)" selected="@(SelectedFilterId == filter.Id)">@(filter.Name)</option>
                    }
                </select>
                @if (SelectedFilterId is not null)
                {
                    <button type="button" class="btn btn-primary" @onclick="@EditFilter">Edit Filter</button>
                }
                <button type="button" class="btn btn-success" @onclick="@CreateFilter">New Filter</button>
            </div>
        }
        else
        {
            <EditForm Model="@_editingFilter" OnValidSubmit="@SaveFilterAsync">
                <DataAnnotationsValidator/>
                <div class="mb-3">
                    <div class="form-floating mb-1">
                        <InputText class="form-control" id="nameInput" placeholder="Name" @bind-Value="@(_editingFilter.Name)"></InputText>
                        <label for="nameInput">Name</label>
                    </div>
                    <ValidationMessage For="@(() => _editingFilter.Name)"></ValidationMessage>
                </div>
                <button type="button" class="btn btn-outline-danger mb-3" @onclick="@(() => _editingFilter = null)">Cancel</button>
                <button type="submit" class="btn btn-success mb-3">Save</button>
            </EditForm>
            <CriteriaPicker Filter="@_editingFilter"></CriteriaPicker>
        }
    </div>
</Offcanvas>
