<Offcanvas @ref="@_offcanvas" Direction="@(OffcanvasDirection.End)" UseButton="false">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Edit Filter</h5>
    </div>
    <div class="offcanvas-body">
        <EditForm Model="@_filter" OnValidSubmit="@SaveFilterAsync">
            <DataAnnotationsValidator/>
            <div class="mb-3">
                <div class="form-floating mb-1">
                    <InputText class="form-control" id="nameInput" placeholder="Name" @bind-Value="@(_filter!.Name)"></InputText>
                    <label for="nameInput">Name</label>
                </div>
                <ValidationMessage For="@(() => _filter.Name)"></ValidationMessage>
            </div>
            <button type="button" class="btn btn-outline-secondary me-2 mb-3" @onclick="@CloseAsync">Cancel</button>
            @if (_editing)
            {
                <button type="button" class="btn btn-danger me-2 mb-3" @onclick="@DeleteFilterAsync">Delete</button>
            }
            <button type="submit" class="btn btn-success mb-3">Save</button>
        </EditForm>
        <CriteriaPicker Filter="@_filter"></CriteriaPicker>
    </div>
</Offcanvas>
