@page "/Collection/{AnimeId:int}"

<article class="container-fluid">
    @if (_anime is not null)
    {
        <PageTitle>@_anime.Title</PageTitle>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 d-flex justify-content-end anime-poster">
                @if (_anime.ImageFilename is not null)
                {
                    <img src="@($"{WebPaths.AnimePostersDir}/{_anime.ImageFilename}")">
                }
            </div>
            <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 d-flex justify-content-start align-items-start">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            @_anime.Title <a href="https://anidb.net/anime/@(_anime.Id)" target="_blank">(@(_anime.Id))</a>
                        </h4>
                        <p class="card-text">
                            @foreach (var s in _splitRegex.Split(_anime.Description ?? ""))
                            {
                                var res = _matchRegex.Match(s);
                                if (res.Success)
                                {
                                    <a href="@res.Groups[1]" target="_blank">@res.Groups[2]</a>
                                }
                                else
                                {
                                    @s
                                }
                            }
                        </p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Aired: @(_anime.AirDate ?? "??") - @(_anime.EndDate ?? "??")</li>
                            <li class="list-group-item">Type: @(_anime.AnimeType.ToString())</li>
                            @if (_anime.Restricted)
                            {
                                <li class="list-group-item">Hentai</li>
                            }
                            <li class="list-group-item">@(_anime.EpisodeCount) Episode@(_anime.EpisodeCount == 1 ? "" : "s")</li>
                            <li class="list-group-item">
                                <button class="btn btn-outline-success me-2" type="button" @onclick:stopPropagation="true" @onclick="@(() => MarkAllWatched(_anime))">
                                    <i class="bi bi-eye"></i> Mark All Watched
                                </button>
                            </li>
                            @if (_malXrefs!.Count > 0)
                            {
                                <li class="list-group-item">
                                    @foreach (var malXref in _malXrefs)
                                    {
                                        _malAnimes!.TryGetValue(malXref.MalId, out var malAnime);
                                        <MyAnimeListItem MalId="@(malXref.MalId)" MalAnime="@malAnime"></MyAnimeListItem>
                                    }
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12">
                    <EpisodeTable AnimeId="AnimeId"></EpisodeTable>
                </div>
            </div>
        </div>
    }
    else
    {
        <PageTitle>Anime not Found</PageTitle>
        <h1>Anime not found</h1>
    }
</article>