@page "/Collection/{AnimeId:int}"
@using Shizou.Data.Enums.Mal
@using Shizou.Data.Enums


@if (_videoOpen is not null)
{
    <ModalVideo LocalFileId="@(_videoOpen.Value)" OnClose="@CloseVideo"></ModalVideo>
}
<article class="container-fluid">
    @if (_anime is not null)
    {
        <PageTitle>@_anime.Title</PageTitle>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 d-flex justify-content-end anime-poster">
                @if (_anime.ImageFilename is not null)
                {
                    <img src="@($"{WebPaths.AnimePostersDir}/{_anime.ImageFilename}")">
                }
            </div>
            <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 d-flex justify-content-start align-items-start">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            @_anime.Title <a href="https://anidb.net/anime/@(_anime.Id)" target="_blank">(@(_anime.Id))</a>
                        </h4>
                        <p class="card-text">
                            @foreach (var s in _splitRegex.Split(_anime.Description ?? ""))
                            {
                                var res = _matchRegex.Match(s);
                                if (res.Success)
                                {
                                    <a href="@res.Groups[1]" target="_blank">@res.Groups[2]</a>
                                }
                                else
                                {
                                    @s
                                }
                            }
                        </p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Aired: @(_anime.AirDate ?? "??") - @(_anime.EndDate ?? "??")</li>
                            <li class="list-group-item">Type: @(_anime.AnimeType.ToString())</li>
                            @if (_anime.Restricted)
                            {
                                <li class="list-group-item">Hentai</li>
                            }
                            <li class="list-group-item">@(_anime.EpisodeCount) Episode@(_anime.EpisodeCount == 1 ? "" : "s")</li>
                            <li class="list-group-item">
                                <button class="btn btn-outline-success me-2" type="button" @onclick:stopPropagation="true" @onclick="@(() => MarkAllWatched(_anime))">
                                    <i class="bi bi-eye"></i> Mark All Watched
                                </button>
                            </li>
                            @if (_malXrefs!.Count > 0)
                            {
                                <li class="list-group-item">
                                    @foreach (var malXref in _malXrefs)
                                    {
                                        _malAnimes!.TryGetValue(malXref.MalId, out var malAnime);
                                        <div class="border border-primary rounded p-1 d-inline-block">
                                            <img src="icons/mal.ico" style="height: 1.5em"/>
                                            <a href="https://myanimelist.net/anime/@(malXref.MalId)" target="_blank" class="align-middle">@(malAnime?.Title ?? malXref.MalId.ToString())</a>
                                            @if (malAnime?.Status is not null)
                                            {
                                                <EditForm Model="malAnime.Status" OnSubmit="@(() => UpdateMalStatus(malAnime))">
                                                    <InputSelect @bind-Value="@(malAnime.Status.State)">
                                                        @foreach (var state in Enum.GetValues<AnimeState>())
                                                        {
                                                            <option>@state</option>
                                                        }
                                                    </InputSelect>
                                                    <InputNumber @bind-Value="@(malAnime.Status.WatchedEpisodes)" style="width: 3em;"></InputNumber> / @(malAnime.EpisodeCount)
                                                    <button type="submit" class="btn btn-primary">Update</button>
                                                </EditForm>
                                            }
                                        </div>
                                    }
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <td>Ep</td>
                            <td>Title</td>
                            <td>Dur</td>
                            <td>Air Date</td>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var ep in _anime.AniDbEpisodes.OrderBy(e => e.EpisodeType).ThenBy(e => e.Number))
                        {
                            var epWatchedState = _epWatchedStates!.First(ws => ep.Id == ws.Id);
                            <tr role="button" @onclick="@(() => ToggleEpExpand(ep))">
                                <td>
                                    @EpisodeTypeExtensions.ToEpString(ep.EpisodeType, ep.Number)
                                </td>
                                <td class="flex-grow-1 pe-1">
                                    @(ep.TitleRomaji ?? ep.TitleEnglish)
                                </td>
                                <td>
                                    @($"{(ep.DurationMinutes is null ? "??" : ep.DurationMinutes.ToString())} min")
                                </td>
                                <td >
                                    @(ep.AirDate?.ToString("yyyy-MM-dd"))
                                </td>
                            </tr>
                            @if (_episodeExpanded.TryGetValue(ep.Id, out var expanded) && expanded)
                            {
                                <tr>
                                    <td colspan="5">
                                        @foreach (var file in _filesGroupedByEpId![ep.Id])
                                        {
                                            var localFile = _regularLocalFiles!.FirstOrDefault(lf => file.Ed2k == lf.Ed2k);
                                            var fileWatchedState = _fileWatchedStates!.First(ws => ws.Id == file.Id);
                                            <div class="card">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">
                                                        <div class="d-flex justify-content-between">
                                                            <div>
                                                                @if (localFile is not null)
                                                                {
                                                                    <button class="btn btn-primary me-2" type="button" @onclick:stopPropagation="true" @onclick="@(() => OpenVideo(localFile.Id))">
                                                                        <i class="bi bi-play"></i> Play
                                                                    </button>
                                                                    <button class="btn btn-primary me-2" type="button" @onclick:stopPropagation="true" @onclick="@(() => OpenInMpv(localFile))">
                                                                        <i class="bi bi-play"></i> Play in Mpv
                                                                    </button>
                                                                }
                                                            </div>
                                                            <div>
                                                                @if (fileWatchedState.Watched)
                                                                {
                                                                    <button class="btn btn-outline-danger me-2" type="button" @onclick:stopPropagation="true" @onclick="@(() => MarkFile(fileWatchedState, false))">
                                                                        <i class="bi bi-eye-slash"></i> Unwatch
                                                                    </button>
                                                                }
                                                                else
                                                                {
                                                                    <button class="btn btn-outline-success me-2" type="button" @onclick:stopPropagation="true" @onclick="@(() => MarkFile(fileWatchedState, true))">
                                                                        <i class="bi bi-eye"></i> Watch
                                                                    </button>
                                                                }
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <span>
                                                            <strong>
                                                                @if (file.AniDbGroup is not null)
                                                                {
                                                                    <a href="https://anidb.net/group/@(file.AniDbGroupId)" target="_blank">[@(file.AniDbGroup.ShortName)]</a>
                                                                    <text>&nbsp;</text>
                                                                }
                                                                else
                                                                {
                                                                    <text>No Group&nbsp;</text>
                                                                }
                                                            </strong>
                                                            @if (file.Video is not null)
                                                            {
                                                                <text>@(file.Video.Height)x@(file.Video.Width) @(file.Video.ColorDepth)bit&nbsp;</text>
                                                            }
                                                            <strong>@(file.Source)</strong>
                                                            @(file.Crc)
                                                        </span>
                                                    </li>
                                                    <li class="list-group-item">
                                                        @if (localFile is not null)
                                                        {
                                                            @(Path.GetFileName(localFile.PathTail))
                                                        }
                                                        else
                                                        {
                                                            @("Local file not found")
                                                        }
                                                    </li>
                                                </ul>
                                            </div>
                                        }
                                        @foreach (var lf in ep.ManualLinkLocalFiles)
                                        {
                                            <div class="card">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">
                                                        <div class="d-flex justify-content-between">
                                                            <div>
                                                                <button class="btn btn-primary me-2" type="button" @onclick:stopPropagation="true" @onclick="@(() => OpenVideo(lf.Id))">
                                                                    <i class="bi bi-play"></i> Play
                                                                </button>
                                                            </div>
                                                            <div>
                                                                @if (epWatchedState.Watched)
                                                                {
                                                                    <button class="btn btn-outline-danger me-2" type="button" @onclick:stopPropagation="true" @onclick="@(() => MarkEpisode(epWatchedState, false))">
                                                                        <i class="bi bi-eye-slash"></i> Unwatch
                                                                    </button>
                                                                }
                                                                else
                                                                {
                                                                    <button class="btn btn-outline-success me-2" type="button" @onclick:stopPropagation="true" @onclick="@(() => MarkEpisode(epWatchedState, true))">
                                                                        <i class="bi bi-eye"></i> Watch
                                                                    </button>
                                                                }
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <span>Manual Link</span>
                                                        <span>@(lf.Crc)</span>
                                                    </li>
                                                    <li class="list-group-item">
                                                        @(Path.GetFileName(lf.PathTail))
                                                    </li>
                                                </ul>
                                            </div>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    else
    {
        <PageTitle>Anime not Found</PageTitle>
        <h1>Anime not found</h1>
    }
</article>