@page "/Collection/{AnimeId:int}"
@using Shizou.Data.Enums
@using Shizou.Data.Models

<div class="container-fluid">
    @if (_anime is not null)
    {
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 d-flex justify-content-end anime-poster">
                @if (_anime.ImageFilename is not null)
                {
                    <img src="@($"{WebPaths.AnimePostersDir}/{_anime.ImageFilename}")">
                }
            </div>
            <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 d-flex justify-content-start align-items-start">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">@_anime.Title</h4>
                        <p class="card-text">
                            @foreach (var s in _splitRegex.Split(_anime.Description ?? ""))
                            {
                                var res = _matchRegex.Match(s);
                                if (res.Success)
                                {
                                    <a href="@res.Groups[1]">@res.Groups[2]</a>
                                }
                                else
                                {
                                    @s
                                }
                            }
                        </p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Aired: @(_anime.AirDate ?? "??") - @(_anime.EndDate ?? "??")</li>
                            <li class="list-group-item">Type: @(_anime.AnimeType.ToString())</li>
                            @if (_anime.Restricted)
                            {
                                <li class="list-group-item">Hentai</li>
                            }
                            <li class="list-group-item">@(_anime.EpisodeCount) Episode@(_anime.EpisodeCount == 1 ? "" : "s")</li>
                            <li class="list-group-item">
                                <button class="btn btn-outline-success me-2" type="button" @onclick:stopPropagation="true" @onclick="@(() => MarkAllWatched(_anime))">
                                    <i class="bi bi-eye"></i> Mark All Watched
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <td>Ep</td>
                            <td>Title</td>
                            <td>Dur</td>
                            <td>Air Date</td>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var ep in _anime.AniDbEpisodes.OrderBy(e => e.EpisodeType).ThenBy(e => e.Number))
                        {
                            <tr role="button" @onclick="@(() => ToggleEpExpand(ep))">
                                <td>
                                    @EpisodeTypeExtensions.ToEpString(ep.EpisodeType, ep.Number)
                                </td>
                                <td class="flex-grow-1 pe-1">
                                    @(ep.TitleRomaji ?? ep.TitleEnglish)
                                </td>
                                <td>
                                    @($"{(ep.DurationMinutes is null ? "??" : ep.DurationMinutes.ToString())} min")
                                </td>
                                <td >
                                    @(ep.AirDate?.ToString("yyyy-MM-dd"))
                                </td>
                            </tr>
                            @if (_episodeExpanded.TryGetValue(ep.Id, out var expanded) && expanded)
                            {
                                <tr>
                                    <td colspan="5">
                                        @foreach (var (f, lf) in _files.GetValueOrDefault(ep.Id, new List<(AniDbFile, LocalFile)>()))
                                        {
                                            <div class="card">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">
                                                        <div class="d-flex justify-content-between">
                                                            <div>
                                                                <button class="btn btn-primary me-2" type="button">
                                                                    <i class="bi bi-play"></i> Play
                                                                </button>
                                                            </div>
                                                            <div>
                                                                @if (f.Watched)
                                                                {
                                                                    <button class="btn btn-outline-danger me-2" type="button" @onclick:stopPropagation="true" @onclick="@(() => MarkFile(f, false))">
                                                                        <i class="bi bi-eye-slash"></i> Unwatch
                                                                    </button>
                                                                }
                                                                else
                                                                {
                                                                    <button class="btn btn-outline-success me-2" type="button" @onclick:stopPropagation="true" @onclick="@(() => MarkFile(f, true))">
                                                                        <i class="bi bi-eye"></i> Watch
                                                                    </button>
                                                                }
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <span>
                                                            <strong>
                                                                @if (f.AniDbGroup is not null)
                                                                {
                                                                    <a href="https://anidb.net/group/@(f.AniDbGroupId)">[@(f.AniDbGroup.ShortName)]</a>
                                                                    <text>&nbsp;</text>
                                                                }
                                                                else
                                                                {
                                                                    <text>No Group&nbsp;</text>
                                                                }
                                                            </strong>
                                                            @if (f.Video is not null)
                                                            {
                                                                <text>@(f.Video.Height)x@(f.Video.Width) @(f.Video.ColorDepth)bit&nbsp;</text>
                                                            }
                                                            <strong>@(f.Source)</strong>
                                                            @(lf.Crc)
                                                        </span>
                                                    </li>
                                                    <li class="list-group-item">
                                                        @(Path.GetFileName(lf.PathTail))
                                                    </li>
                                                </ul>
                                            </div>
                                        }
                                        @foreach (var lf in ep.ManualLinkLocalFiles)
                                        {
                                            <div class="card">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">
                                                        <div class="d-flex justify-content-between">
                                                            <div>
                                                                <button class="btn btn-primary me-2" type="button">
                                                                    <i class="bi bi-play"></i> Play
                                                                </button>
                                                            </div>
                                                            <div>
                                                                @if (ep.Watched)
                                                                {
                                                                    <button class="btn btn-outline-danger me-2" type="button" @onclick:stopPropagation="true" @onclick="@(() => MarkEpisode(ep, false))">
                                                                        <i class="bi bi-eye-slash"></i> Unwatch
                                                                    </button>
                                                                }
                                                                else
                                                                {
                                                                    <button class="btn btn-outline-success me-2" type="button" @onclick:stopPropagation="true" @onclick="@(() => MarkEpisode(ep, true))">
                                                                        <i class="bi bi-eye"></i> Watch
                                                                    </button>
                                                                }
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <span>Manual Link</span>
                                                        <span>@(lf.Crc)</span>
                                                    </li>
                                                    <li class="list-group-item">
                                                        @(Path.GetFileName(lf.PathTail))
                                                    </li>
                                                </ul>
                                            </div>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    else
    {
        <h1>Anime not found</h1>
    }
</div>
