@using Shizou.Data.Models
<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item  @(_fileExists ? "" : "bg-danger-subtle")">
            <div class="d-flex flex-wrap">
                <div class="btn-group me-auto">
                    @if (_fileExists)
                    {
                        <button class="btn btn-success mb-1" type="button" @onclick="@OpenVideoAsync">
                            <i class="bi bi-play-fill"></i>
                        </button>
                        @if (_schemeHandlerInstalled)
                        {
                            <a class="btn btn-success mb-1" type="button" href="@_externalPlaybackUrl">
                                <i class="bi bi-cast"></i>
                            </a>
                        }
                        else
                        {
                            <button class="btn btn-success mb-1" type="button" @onclick="@OpenSchemeHandlerDownloadModalAsync">
                                <i class="bi bi-cast"></i>
                            </button>
                        }

                        <a class="btn btn-success mb-1" type="button" href="@_fileDownloadUrl" target="_blank">

                            <i class="bi bi-download"></i>
                        </a>
                    }
                    else
                    {
                        <button class="btn btn-danger mb-1" type="button" @onclick="@RemoveLocalFile">
                            <i class="bi bi-file-earmark-x"></i> Remove Missing File
                        </button>
                    }
                </div>
                @if (LocalFile.AniDbFile is AniDbGenericFile)
                {
                    <button class="btn btn-outline-danger me-1 mb-1" type="button" @onclick="@Unlink">
                        <i class="bi bi-slash-circle"></i> Unlink File
                    </button>
                }
                @if (_fileExists)
                {
                    <button class="btn btn-primary me-1 mb-1" type="button" @onclick="@Hash">
                        <i class="bi bi-hash"></i> Rehash
                    </button>
                }
                <button class="btn btn-primary me-1 mb-1" type="button" @onclick="@Scan">
                    <i class="bi bi-arrow-clockwise"></i> Rescan
                </button>
                <button type="button" class="btn @(_watchedState.Watched ? "btn-outline-danger" : "btn-outline-success") me-1 mb-1" @onclick="@ToggleWatched">
                    <i class="bi @(_watchedState.Watched ? "bi-eye-slash" : "bi-eye")"></i>
                </button>
            </div>
        </li>
        <li class="list-group-item">
            <span>
                @if (LocalFile.AniDbFile is AniDbNormalFile f)
                {
                    <strong>
                        <a class="bi bi-box-arrow-up-right" href="https://anidb.net/file/@(LocalFile.AniDbFileId)" target="_blank"></a>
                        <text>&nbsp;</text>
                        @if (f.AniDbGroup is not null)
                        {
                            <a href="https://anidb.net/group/@(f.AniDbGroupId)" target="_blank">[@(f.AniDbGroup.ShortName)]</a>
                            <text>&nbsp;</text>
                        }
                        else
                        {
                            <text>No Group&nbsp;</text>
                        }
                    </strong>
                    @if (f.Video is not null)
                    {
                        <text>@($"{f.Video.Height}x{f.Video.Width} {f.Video.ColorDepth}bit ")</text>
                    }

                    <strong>@(f.Source)</strong>
                }
                else
                {
                    <strong>Manual Link</strong>
                }
            </span>
        </li>
        <li class="list-group-item">
            @Path.GetFileName(LocalFile.PathTail)
        </li>
    </ul>
</div>
