<nav class="navbar navbar-expand-md bg-secondary mb-4 sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Shizou</a>
        <button type="button" title="Navigation menu" class="navbar-toggler" @onclick="@ToggleCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse @NavMenuCssClass bg-secondary mt-2 mt-md-0" @onclick="@ToggleCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <i class="bi bi-house-fill" aria-hidden="true"></i> Dashboard
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="Collection" Match="NavLinkMatch.Prefix">
                        <i class="bi bi-grid-3x3-gap-fill" aria-hidden="true"></i> Collection
                    </NavLink>
                </li>
                <li class="nav-item dropdown" @onmouseleave="@CloseFileUtilDropdown">
                    <button type="button" class="nav-link w-100 dropdown-toggle @(_expandFileUtils ? "show" : "")"
                            @onclick="@ToggleFileUtilDropdown" @onclick:stopPropagation="true">
                        <i class="bi bi-file-earmark-play-fill text-start" aria-hidden="true"></i> File Utilities
                    </button>
                    <ul class="dropdown-menu @(_expandFileUtils ? "show" : "")" @onclick="@CloseFileUtilDropdown">
                        <li>
                            <NavLink class="dropdown-item" href="UnidentifiedFiles" Match="NavLinkMatch.Prefix">Unidentified</NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="MissingFiles" Match="NavLinkMatch.Prefix">Missing</NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="ManualLinks" Match="NavLinkMatch.Prefix">Manual Links</NavLink>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="Settings" Match="NavLinkMatch.Prefix">
                        <i class="bi bi-gear-fill" aria-hidden="true"></i> Settings
                    </NavLink>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-md-0">
                <li class="nav-item">
                    <button type="button" class="nav-link w-100" @onclick="@ToggleDarkModeAsync">
                        <i class="bi @(_isDarkMode ? "bi-moon-stars-fill" : "bi-sun-fill") text-start" aria-hidden="true"></i>
                        <span class="d-md-none">&nbsp;Toggle Theme</span>
                    </button>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="Account/Logout" Match="NavLinkMatch.All">
                        <i class="bi bi-box-arrow-left" aria-hidden="true"></i> Logout
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@if (_themeColor is not null)
{
    <HeadContent>
        <meta name="theme-color" content="@_themeColor"/>
    </HeadContent>
}
