@using Shizou.Data.Utilities
<h3>Actions</h3>
<div class="d-flex flex-wrap gap-1">
    <button type="button" class="btn btn-primary" @onclick="@DispatchNoop">Add noops</button>
    <button type="button" class="btn btn-primary" @onclick="@RunImport">Run Import</button>
    <button type="button" class="btn btn-primary" @onclick="@RemoveMissingFiles">Remove Missing Files</button>
    <button type="button" class="btn btn-primary" @onclick="@DispatchMyListSync">Sync MyList</button>
    <button type="button" class="btn btn-primary" @onclick="@ScheduleNoop">Schedule Noop</button>
    <button type="button" class="btn btn-primary" @onclick="@GetMissingPosters">Get Missing Posters</button>
    <button type="button" class="btn btn-primary" @onclick="@OpenMalAuth" disabled="@(!NetworkUtility.IsLoopBackAddress(ServerIp))">Auth MAL</button>
    <button type="button" class="btn btn-primary" @onclick="@GetMalList">Get MAL List</button>
    <button type="button" class="btn btn-primary" @onclick="@RestoreFromBackupFile">Restore Backup</button>
</div>
