<section class="import-folders">
    <h3>ImportFolders</h3>
    <ImportFolderModal @ref="@_importFolderModal" OnClose="@RefreshFolders"></ImportFolderModal>
    <table class="table table-hover align-middle">
        <thead>
        <tr>
            <th scope="col">Scan</th>
            <th scope="col">Name</th>
            <th scope="col">Scan On Import</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var importFolder in _importFolders)
        {
            <tr @key="@importFolder">
                <td class="text-center">
                    <button type="button" class="scan-button btn p-0"
                            data-bs-toggle="tooltip"
                            data-bs-title="Hold shift to force scan"
                            data-bs-custom-class="white-tooltip"
                            @onclick="@(e => ImportService.ScanImportFolder(importFolder.Id, e.ShiftKey))">
                        <i class="oi oi-magnifying-glass"></i>
                    </button>
                </td>
                <td class="absorbing-column">@importFolder.Name</td>
                <td class="text-center">
                    @if (importFolder.ScanOnImport)
                    {
                        <i class="oi oi-circle-check"></i>
                    }
                    else
                    {
                        <i class="oi oi-circle-x"></i>
                    }
                </td>
                <td class="text-center">
                    <button type="button" class="btn p-0" @onclick="@(() => _importFolderModal?.EditDialog(importFolder))">
                        <i class="oi oi-pencil"></i>
                    </button>
                </td>
                <td class="text-center">
                    <button type="button" class="btn p-0" @onclick="@(() => _importFolderModal?.DeleteDialog(importFolder))">
                        <i class="oi oi-trash"></i>
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" @onclick="@(() => _importFolderModal?.NewDialog())">Add Import Folder</button>
</section>