<section class="import-folders">
    <h3>Import Folders</h3>
    <table class="table table-hover align-middle">
        <tbody>
        @foreach (var importFolder in _importFolders)
        {
            <tr @key="@importFolder">
                <td class="absorbing-column">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary border-start-0 border-top-0 border-end-1 border-bottom-0 border-white p-1"
                                @onclick="@(e => ImportService.ScanImportFolder(importFolder.Id, e.ShiftKey))">
                            <i class="bi bi-search"></i> Scan
                        </button>
                        <button class="btn btn-primary border-top-0 border-end-0 border-bottom-0 border-white p-1">Force</button>
                    </div>&nbsp;
                    @(importFolder.Name)
                </td>
                <td>
                    @if (importFolder.ScanOnImport)
                    {
                        <Tooltip Content="Will scan on import">
                            <i class="bi bi-save2"></i>
                        </Tooltip>
                    }
                </td>
                <td>
                    <Tooltip Content="Edit">
                        <button type="button" class="btn p-0" @onclick="@(() => EditAsync(importFolder))">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                    </Tooltip>
                </td>
                <td>
                    <Tooltip Content="Remove">
                        <button type="button" class="btn p-0" @onclick="@(() => RemoveAsync(importFolder))">
                            <i class="bi bi-trash"></i>
                        </button>
                    </Tooltip>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" @onclick="@AddAsync">Add Import Folder</button>
</section>
