<section class="import-folders">
    <h3>Import Folders</h3>
    <table class="table table-hover align-middle">
        <tbody>
        @foreach (var importFolder in _importFolders)
        {
            <tr @key="@importFolder">
                <td>
                    <Tooltip Content="Hold shift to force scan">
                        <button type="button" class="scan-button btn p-0"
                                @onclick="@(e => ImportService.ScanImportFolder(importFolder.Id, e.ShiftKey))">
                            <i class="bi bi-search"></i>
                        </button>
                    </Tooltip>
                </td>
                <td class="absorbing-column">@importFolder.Name</td>
                <td>
                    @if (importFolder.ScanOnImport)
                    {
                        <Tooltip Content="Will scan on import">
                            <i class="bi bi-save2"></i>
                        </Tooltip>
                    }
                </td>
                <td>
                    <Tooltip Content="Edit">
                        <button type="button" class="btn p-0" @onclick="@(() => Edit(importFolder))">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                    </Tooltip>
                </td>
                <td>
                    <Tooltip Content="Remove">
                        <button type="button" class="btn p-0" @onclick="@(() => Remove(importFolder))">
                            <i class="bi bi-trash"></i>
                        </button>
                    </Tooltip>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" @onclick="@Add">Add Import Folder</button>
</section>
