<h3>Queues</h3>
<section class="queues">
    <table class="table table-hover align-middle">
        <thead>
        <tr>
            <th scope="col">Type</th>
            <th scope="col">Message</th>
            <th scope="col">Queued</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var processor in Processors)
        {
            <tr>
                <th scope="row">@Enum.GetName(processor.QueueType)</th>
                <td class="absorbing-column">
                    @(processor.CurrentCommand?.CommandId ?? (processor.Paused && !string.IsNullOrWhiteSpace(processor.PauseReason) ? $"Paused Reason: {processor.PauseReason}" : ""))
                </td>
                <td class="text-center">@processor.CommandsInQueue</td>
                <td>
                    @if (processor.Paused)
                    {
                        <button type="button" class="btn p-0" @onclick="@(() => processor.Unpause())">
                            <i class="oi oi-media-play"></i>
                        </button>
                    }
                    else
                    {
                        <button type="button" class="btn p-0" @onclick="@(() => processor.Pause())">
                            <i class="oi oi-media-pause"></i>
                        </button>
                    }
                </td>
                <td>
                    <button type="button" class="btn p-0" @onclick="@(processor.ClearQueue)">
                        <i class="oi oi-x"></i>
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
</section>
