@page "/Collection/{AnimeId:int}"
@using Shizou.Data.Extensions

<main class="container-fluid">
    @if (_anime is not null)
    {
        <PageTitle>@_anime.TitleTranscription</PageTitle>
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-6 col-md-4 col-12 mb-3 text-center text-md-end">
                <img alt="" src="@_posterPath" onerror="this.onerror=null;this.src='images/missing_poster.png';" class="rounded img-fluid">
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-12 mb-3">
                <div class="card w-100">
                    <div class="card-body">
                        <h4 class="card-title">
                            @_anime.TitleTranscription <a class="bi bi-box-arrow-up-right" href="https://anidb.net/anime/@(_anime.Id)" target="_blank"></a>
                        </h4>
                        <p class="card-text">
                            @_description
                            @if (_descriptionTooLong)
                            {
                                <button type="button" class="btn btn-link shadow-none pt-0 pb-0" @onclick="@ToggleDescriptionExpand">
                                    @(_expandDescription ? "Read Less" : "Read More")
                                </button>
                            }
                        </p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Aired: @(_anime.AirDate ?? "??") - @(_anime.EndDate ?? "??")</li>
                            <li class="list-group-item">Type: @(_anime.AnimeType.ToString().UpperCaseSpaced())</li>
                            @if (_anime.Restricted)
                            {
                                <li class="list-group-item">Hentai</li>
                            }
                            <li class="list-group-item">@(_anime.EpisodeCount) Episode@(_anime.EpisodeCount == 1 ? "" : "s")</li>
                            <li class="list-group-item d-flex gap-2">
                                <button class="btn btn-outline-success" type="button" @onclick="@MarkAllWatched">
                                    <i class="bi bi-eye"></i> Mark All Watched
                                </button>
                                <button type="button" class="btn btn-outline-primary" @onclick="@RefreshAnime">
                                    <i class="bi bi-arrow-clockwise"></i> Refresh Data
                                </button>
                            </li>
                            @if (_anime.MalAnimes.Count > 0)
                            {
                                <li class="list-group-item">
                                    @foreach (var malAnime in _anime.MalAnimes)
                                    {
                                        <MyAnimeListItem MalAnime="@malAnime"></MyAnimeListItem>
                                    }
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="mb-3 col-xl-6 col-lg-8 col-md-10 col-12">
                    <UpNext AniDbAnime="@_anime" OnChanged="@Load"></UpNext>
                    <CollapsibleSection Header="Episodes" ShowDefault="true">
                        <EpisodeTable AniDbAnime="@_anime" OnChanged="@Load"></EpisodeTable>
                    </CollapsibleSection>
                    <CollapsibleSection Header="Related Anime">
                        <div class="d-flex flex-wrap mt-2">
                            @foreach (var (relationType, anime) in _relatedAnime!)
                            {
                                <div class="text-center">
                                    <AnimeCard Title="@(anime.TitleTranscription)" AnimeId="@(anime.Id)"></AnimeCard>
                                    <span>@relationType.ToString()</span>
                                </div>
                            }
                        </div>
                    </CollapsibleSection>
                </div>
            </div>
        </div>
    }
    else
    {
        <PageTitle>Anime not Found</PageTitle>
        <h1>Anime not found</h1>
    }
</main>
