@page "/Collection/{AnimeId:int}"
@using Shizou.Data.Extensions

<main class="container-xl mb-3">
    @if (_anime is not null)
    {
        <PageTitle>@_anime.TitleTranscription</PageTitle>
        <div class="row justify-content-center g-0 mb-3">
            <div class="col-lg-4 col-sm-5 col-12  text-center text-md-end">
                <img alt="" src="@_posterPath" class="rounded img-fluid">
            </div>
            <div class="col-lg-8 col-sm-7 col-12">
                <div class="card border-0 w-100">
                    <div class="card-body">
                        <h4 class="card-title">
                            @_anime.TitleTranscription <a class="bi bi-box-arrow-up-right" href="https://anidb.net/anime/@(_anime.Id)" target="_blank"></a>
                        </h4>
                        <div class="card-text anime-description">
                            @for (var i = 0; i < _splitDescription.Length; i++)
                            {
                                switch (i % 3)
                                {
                                    case 0:
                                        <text>@(_splitDescription[i])</text>
                                        break;
                                    case 1:
                                        <a href="@(_splitDescription[i])" target="_blank">@(_splitDescription[i + 1])</a>
                                        break;
                                }
                            }
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                Aired: @(_anime.AirDate is null ? "??" : _anime.AirDate.Value.ToString("MMMM dd, yyyy"))
                                @(_anime.AirDate != _anime.EndDate && _anime.EndDate is not null ? $" ~ {_anime.EndDate.Value.ToString("MMMM dd, yyyy")}" : "")
                            </li>
                            <li class="list-group-item">Type: @(_anime.AnimeType.ToString().UpperCaseSpaced())</li>
                            @if (_anime.Restricted)
                            {
                                <li class="list-group-item">Hentai</li>
                            }
                            <li class="list-group-item">@(_anime.EpisodeCount) Episode@(_anime.EpisodeCount == 1 ? "" : "s")</li>
                            <li class="list-group-item d-flex gap-2">
                                <button class="btn btn-outline-success" type="button" @onclick="@MarkAllWatched">
                                    <i class="bi bi-eye"></i> Mark All Watched
                                </button>
                                <button type="button" class="btn btn-outline-primary" @onclick="@RefreshAnime">
                                    <i class="bi bi-arrow-clockwise"></i> Refresh Data
                                </button>
                            </li>
                            @if (_anime.MalAnimes.Count > 0)
                            {
                                <li class="list-group-item">
                                    @foreach (var malAnime in _anime.MalAnimes)
                                    {
                                        <MyAnimeListItem MalAnime="@malAnime"></MyAnimeListItem>
                                    }
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-12">
                    <UpNext AniDbAnime="@_anime" OnChanged="@Load"></UpNext>
                    <CollapsibleSection Header="Episodes" ShowDefault="true">
                        <EpisodeTable AniDbAnime="@_anime" OnChanged="@Load"></EpisodeTable>
                    </CollapsibleSection>
                    <CollapsibleSection Header="Related Anime">
                        <div class="d-flex flex-wrap mt-2 column-gap-2">
                            @foreach (var (relationType, anime) in _relatedAnime!)
                            {
                                <AnimeCard @key="@(anime.Id)" AnimeId="@(anime.Id)" Title="@(anime.TitleTranscription)" PosterPath="@(GetPosterPath(anime.Id))">
                                    <div class="text-center">@(relationType.ToString())</div>
                                </AnimeCard>
                            }
                        </div>
                    </CollapsibleSection>
                </div>
            </div>
        </div>
    }
    else
    {
        <PageTitle>Anime not Found</PageTitle>
        <h1>Anime not found</h1>
    }
</main>
