<ModalWrapper Cancel="@Cancel">
    <div class="modal-header">
        <h4 class="modal-title">Add Anime</h4>
    </div>
    <div class="modal-body">
        <div class="text-center">
            <LiveSearchBox GetResults="@GetTitles" PlaceholderText="Search for anime" @bind-Selected="@_selected"></LiveSearchBox>
        </div>
    </div>
    <div class="modal-footer">
        @if (_selected is not null)
        {
            <button class="btn btn-success" @onclick="@AddAnime">Add</button>
        }
        <button class="btn btn-outline-secondary" @onclick="@Cancel">Cancel</button>
    </div>
</ModalWrapper>
