<div class="form-floating">
    <input type="search" class="form-control" id="queryInput" placeholder="Search for anime" @bind="@_query" @oninput="@OnInputChanged">
    <label for="queryInput">Search for anime</label>
</div>
<select size="@(_results.Count)" multiple
        class="dropdown-menu @(_results.Count > 0 ? "show" : "")" style="overflow-y: auto"
        @onchange="@OnSelectChanged">
    @foreach (var result in _results)
    {
        <option class="dropdown-item" value="@(result.Item1)">
            @result.Item2
        </option>
    }
</select>
