@using Shizou.Data.Enums
<ModalWrapper class="modal-lg" Cancel="@Cancel">
    <div class="modal-header">
        <h4 class="modal-title">Manually Link File</h4>
    </div>
    <div class="modal-body">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="checkbox" id="restrictCollectionCheck" @bind="@_restrictInCollection">
            <label class="form-check-label" for="restrictCollectionCheck">Only Anime in Collection</label>
        </div>
        <div class="input-group">
            <LiveSearchBox GetResults="@GetTitles" PlaceholderText="Select Anime..." Disabled="@(_selectedAnime is not null)" @bind-Selected="@_selected"></LiveSearchBox>
            @if (_selectedAnime is null)
            {
                <button class="btn btn-primary" type="button" @onclick="@SelectAnime">Select Anime</button>
            }
            else
            {
                <button class="btn btn-outline-danger" type="button" @onclick="@ClearSelection">Clear Selected Anime</button>
            }
        </div>
        @if (_selectedAnime is not null)
        {
            <div class="overflow-y-auto" style="max-height: 60vh">
                <table class="table table-hover">
                    <thead class="sticky-top">
                    <tr>
                        <th></th>
                        <th>Filename</th>
                        <th>Ep#</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var (ep, idx) in _selectedAnime.AniDbEpisodes.Select((ep, idx) => (ep, idx)))
                    {
                        _mapping.TryGetValue(ep, out var localFile);
                        <tr>
                            <td>
                                @if (localFile is not null && _selectedAnime.AniDbEpisodes.Count > 1)
                                {
                                    <div style="width: 2.3em">
                                        @if (idx != 0)
                                        {
                                            <button type="button" class="btn p-0" @onclick="@(() => MoveLocalFile(ep, localFile, idx - 1))">
                                                <i class="bi bi-arrow-up"></i>
                                            </button>
                                        }
                                        @if (idx != _selectedAnime.AniDbEpisodes.Count - 1)
                                        {
                                            <button type="button" class="btn p-0" @onclick="@(() => MoveLocalFile(ep, localFile, idx + 1))">
                                                <i class="bi bi-arrow-down"></i>
                                            </button>
                                        }
                                    </div>
                                }
                            </td>
                            <td class="absorbing-column">
                                @if (localFile is not null)
                                {
                                    @(Path.GetFileName(localFile.PathTail))
                                }
                            </td>
                            <td>@(EpisodeTypeExtensions.ToEpString(ep.EpisodeType, ep.Number))</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        }
    </div>
    <div class="modal-footer">
        @if (_selectedAnime is not null)
        {
            <button type="button" class="btn btn-success" @onclick="@LinkFiles">Link Files</button>
        }
        <button type="button" class="btn btn-outline-secondary" @onclick="@Cancel">Cancel</button>
    </div>
</ModalWrapper>
