<div class="toast fade show @_classes @_displayClass" role="alert">
    <div class="toast-header">
        <strong class="me-auto">@(ToastItem.Title)</strong>
        <small class="text-body-secondary">@(ToastItem.TriggerTime.LocalDateTime)</small>
        <button type="button" class="btn-close" @onclick="@Dismiss"></button>
    </div>
    <div class="toast-body">
        @(ToastItem.Body)
    </div>
</div>
