<ModalWrapper Cancel="@Cancel" class="modal-xl modal-fullscreen-lg-down">
    <div class="modal-body">
        <video id="@_videoId" class="h-100 w-100 object-fit-contain video-js" controls>
            <source src="api/FileServer/@LocalFileId" type="@(_localFileMimeType)"/>
            @foreach (var (sub, idx) in _assSubs.Select((sub, idx) => (sub,idx)))
            {
                <track default="@(idx == 0)" kind="subtitles" src="/dummy.vtt" srclang="@(sub.Lang)" label="@(sub.Title)"/>
            }
        </video>
    </div>
</ModalWrapper>
