<section>
    <div class="d-flex flex-row justify-content-between">
        <h3>Queues</h3>
        <div>
            All:
            <button type="button" class="btn btn-link text-body p-1" @onclick="@UnpauseAll">
                <i class="oi oi-media-play"></i>
            </button>
            <button type="button" class="btn btn-link text-body p-1" @onclick="@PauseAll">
                <i class="oi oi-media-pause"></i>
            </button>
            <button type="button" class="btn btn-link text-body p-1" @onclick="@ClearAll">
                <i class="oi oi-x"></i>
            </button>
        </div>
    </div>
    <table class="table table-hover align-middle">
        <tbody>
        @foreach (var processor in Processors.OrderBy(p => p.QueueType))
        {
            <tr>
                <td class="absorbing-column text-break">
                    @($"{processor.DisplayName}: " +
                          (processor.CurrentCommand?.CommandId ??
                           (processor.Paused && !string.IsNullOrWhiteSpace(processor.PauseReason) ? $"Paused: {processor.PauseReason}" : "")))
                </td>
                <td class="text-center">@processor.CommandsInQueue</td>
                <td>
                    @if (processor.Paused)
                    {
                        <button type="button" class="btn btn-link text-body p-0" @onclick="@(() => processor.Unpause())">
                            <i class="oi oi-media-play"></i>
                        </button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-link text-body p-0" @onclick="@(() => processor.Pause())">
                            <i class="oi oi-media-pause"></i>
                        </button>
                    }
                </td>
                <td>
                    <button type="button" class="btn btn-link text-body p-0" @onclick="@(processor.ClearQueue)">
                        <i class="oi oi-x"></i>
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
</section>
