@page "/Queues"
@using Shizou.CommandProcessors
@using Shizou.Commands
@using Shizou.Services
@using System.ComponentModel
@using ShizouData.Database
@using Microsoft.EntityFrameworkCore
@implements IDisposable

@inject IDbContextFactory<ShizouContext> ContextFactory
@inject ILogger<Queues> Logger
@inject IServiceProvider ServiceProvider

<h3>Queues</h3>
<div class="container-fluid">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Type</th>
            <th>Message</th>
            <th>Queued</th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        @foreach (var processor in _processors)
        {
            <tr>
                <td>@Enum.GetName(processor.QueueType)</td>
                <td class="absorbing-column">
                    @(processor.CurrentCommand?.CommandId ?? (processor.Paused ? processor.PauseReason : ""))
                </td>
                <td id="queued-column">@processor.CommandsInQueue</td>
                <td>
                    @if (processor.Paused)
                    {
                        <button class="btn oi oi-media-play" @onclick="@processor.Unpause"></button>
                    }
                    else
                    {
                        <button class="btn oi oi-media-pause" @onclick="@(() => processor.Pause())"></button>
                    }
                </td>
                <td>
                    <button class="btn oi oi-x" @onclick="@(processor.ClearQueue)"></button>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <button class="btn btn-primary" @onclick="DispatchNoop">Add noops</button>
</div>

@code {
    private readonly List<CommandProcessor> _processors = new();

    protected override void OnInitialized()
    {
        _processors.AddRange(ServiceProvider.GetServices<CommandProcessor>());
        foreach (var processor in _processors)
            processor.PropertyChanged += OnCommandChanged;
    }

    private void OnCommandChanged(object? sender, PropertyChangedEventArgs eventArgs)
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        foreach (var processor in _processors)
            processor.PropertyChanged -= OnCommandChanged;
    }

    private void DispatchNoop()
    {
        ServiceProvider.GetRequiredService<CommandService>().DispatchRange(Enumerable.Range(1, 10).Select(n => new NoopArgs(n)));
    }

}