@if (_dialogIsOpen)
{
    if (!_isDelete)
    {
        if (!_folderPickerOpen)
        {
            <ModalDisplay @ref="@_modalDisplay" Model="@_myImportFolder" Title="Add Import Folder" OnClose="@OnDialogClose" OnValidate="@OnValidate" DialogType="@ModalDisplay.ModalDialogType.Form">
                <div class="mb-3 form-floating">
                    <InputText class="form-control" id="nameInput" placeholder="Name" @bind-Value="@(_myImportFolder.Name)"></InputText>
                    <label for="nameInput">Name</label>
                </div>
                <div class="mb-3 input-group">
                    <div class="form-floating">
                        <InputText class="form-control" id="pathInput" placeholder="Path" @bind-Value="@(_myImportFolder.Path)"></InputText>
                        <label for="pathInput">Path</label>
                    </div>
                    <button type="button" class="input-group-text" @onclick="@(() => { _folderPickerOpen = true; })">Browse</button>
                </div>
                <div class="mb-3 form-check">
                    <InputCheckbox class="form-check-input" id="scanOnImportInput" @bind-Value="@(_myImportFolder.ScanOnImport)"></InputCheckbox>
                    <label class="form-check-label" for="scanOnImportInput">Scan on Import</label>
                </div>
            </ModalDisplay>
        }
        else
        {
            <FolderPickerModal @bind-FolderPath="@_myImportFolder.Path" OnFolderPickerClose="@OnFolderPickerClose"></FolderPickerModal>
        }
    }
    else
    {
        <ModalDisplay Title="@($"Delete Import Folder: {_myImportFolder.Name}")" OnClose="@OnDialogClose" DialogType="ModalDisplay.ModalDialogType.DeleteCancel"></ModalDisplay>
    }
}
