@using AutoMapper
@using ShizouData.Database
@using Microsoft.EntityFrameworkCore
@using Shizou.Services
@inject IMapper Mapper
@inject IDbContextFactory<ShizouContext> ContextFactory
@inject ImportService ImportService

<section class="import-folders">
    <h3>ImportFolders</h3>
    <ImportFolderModal @ref="@_importFolderModal" OnClose="@StateHasChanged"></ImportFolderModal>
    <table class="table table-hover align-middle">
        <thead>
        <tr>
            <th scope="col">Scan</th>
            <th scope="col">Name</th>
            <th scope="col">Scan On Import</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        @using (var context = ContextFactory.CreateDbContext())
        {
            foreach (var importFolder in context.ImportFolders)
            {
                <tr>
                    <td>
                        <button class="btn oi oi-magnifying-glass" @onclick="@(() => ImportService.ScanImportFolder(importFolder.Id))"></button>
                    </td>
                    <td class="absorbing-column">@(importFolder.Name)</td>
                    <td>
                        @if (importFolder.ScanOnImport)
                        {
                            <i class="oi oi-circle-check"></i>
                        }
                        else
                        {
                            <i class="oi oi-circle-x"></i>
                        }
                    </td>
                    <td>
                        <button class="btn oi oi-pencil" @onclick="@(() => _importFolderModal?.EditDialog(importFolder))"></button>
                    </td>
                    <td>
                        <button class="btn oi oi-trash"></button>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" @onclick="@(() => _importFolderModal?.NewDialog())">Add Import Folder</button>
</section>

@code {
    private ImportFolderModal? _importFolderModal;
}