<div class="modal fade show" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Title</h4>
            </div>
            @if (ChildContent is not null)
            {
                <div class="modal-body">
                    @if (DialogType == ModalDialogType.Form)
                    {
                        <EditForm EditContext="@EditContext" id="modalForm" OnValidSubmit="@ModalOk">
                            <DataAnnotationsValidator/>
                            @ChildContent
                            <ValidationSummary/>
                        </EditForm>
                    }
                    else
                    {
                        @ChildContent
                    }
                </div>
            }
            <div class="modal-footer">
                @switch (DialogType)
                {
                    case ModalDialogType.Ok:
                        <button type="button" class="btn btn-primary" @onclick=@ModalOk>OK</button>
                        break;
                    case ModalDialogType.OkCancel:
                        <button type="button" class="btn btn-secondary" @onclick="@ModalCancel">Cancel</button>
                        <button type="button" class="btn btn-primary" @onclick=@ModalOk>OK</button>
                        break;
                    case ModalDialogType.DeleteCancel:
                        <button type="button" class="btn btn-secondary" @onclick="@ModalCancel">Cancel</button>
                        <button type="button" class="btn btn-danger" @onclick=@ModalOk>Delete</button>
                        break;
                    case ModalDialogType.Form:
                        <button type="button" class="btn btn-secondary" @onclick="@ModalCancel">Cancel</button>
                        <button type="submit" form="modalForm" class="btn btn-success">Submit</button>
                        break;
                }
            </div>
        </div>
    </div>
</div>

@code {
    public EditContext? EditContext { get; private set; }
    public ValidationMessageStore? MessageStore { get; private set; }

    [Parameter]
    public object? Model { get; set; }

    [Parameter]
    [EditorRequired]
    public ModalDialogType DialogType { get; set; }

    [Parameter]
    [EditorRequired]
    public string Title { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public EventCallback<bool> OnClose { get; set; }

    [Parameter]
    public EventCallback<ValidationMessageStore> OnValidate { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    protected override void OnInitialized()
    {
        if (DialogType is ModalDialogType.Form)
        {
            EditContext = new EditContext(Model!);
            MessageStore = new ValidationMessageStore(EditContext);
            EditContext.OnValidationRequested += (_, _) => OnValidate.InvokeAsync(MessageStore);
        }
    }

    public override Task SetParametersAsync(ParameterView parameters)
    {
        parameters.SetParameterProperties(this);
        if (DialogType is ModalDialogType.Form && Model is null)
            throw new ArgumentNullException($"{nameof(ModalDisplay)} requires a {nameof(Model)} when type is {Enum.GetName(ModalDialogType.Form)}");
        return base.SetParametersAsync(parameters);
    }

    private Task ModalCancel()
    {
        return OnClose.InvokeAsync(false);
    }

    private async Task ModalOk()
    {
        await OnClose.InvokeAsync(true);
    }
    
    public enum ModalDialogType
    {
        Ok,
        OkCancel,
        DeleteCancel,
        Form
    }

}