<FocusTrap @ref="@_focusTrap" IsActive="true">
    <div class="modal d-block @_extraClasses fade @_showClass" aria-modal="true" role="dialog" @attributes="@AdditionalAttributes">
        <div class="modal-dialog" style="z-index: var(--bs-modal-zindex)">
            <div class="modal-content">
                @ChildContent
            </div>
        </div>
        @if (!string.IsNullOrEmpty(_showClass))
        {
            <div class="modal-backdrop fade @_showClass" @onclick="@(async () => await CancelAsync())"></div>
        }
    </div>
</FocusTrap>
