<Modal @ref="@_modal" class="modal-lg">
    <div class="modal-header">
        <h5 class="modal-title">Queue Status</h5>
    </div>
    <div class="modal-body">
        <!-- Queue 1 -->
        @foreach (var processor in Processors.OrderBy(p => p.QueueType))
        {
            <div class="card mb-2">
                <div class="card-header d-flex justify-content-between">
                    <h6 class="card-title mb-0 align-self-center">@(processor.DisplayName)</h6>
                    <div class="ms-2">
                        <span class="badge bg-primary me-1">@(processor.CommandsInQueue)</span>
                        <button class="btn btn-sm btn-link text-@(_prevExpanded[processor] ? "secondary" : "primary") p-0 me-1"
                                @onclick="@(() => _prevExpanded[processor] = !_prevExpanded[processor])">
                            <i class="bi bi-clock-history"></i>
                        </button>
                        <button class="btn btn-sm btn-link text-@(_nextExpanded[processor] ? "secondary" : "primary") p-0 me-1"
                                @onclick="@(() => _nextExpanded[processor] = !_nextExpanded[processor])">
                            <i class="bi bi-clock"></i>
                        </button>
                        <button class="btn btn-sm btn-link text-primary p-0 me-1" @onclick="@(() => TogglePause(processor))">
                            <i class="bi @(processor.Paused ? "bi-play-circle" : "bi-pause-circle")"></i>
                        </button>
                        <button class="btn btn-sm btn-link text-danger p-0" @onclick="@(processor.ClearQueue)">
                            <i class="bi bi-x-circle"></i>
                        </button>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    @if (_nextExpanded[processor])
                    {
                        @foreach (var nc in processor.NextThreeCommands.Reverse<string>())
                        {
                            <li class="list-group-item text-truncate bg-body-tertiary">@nc</li>
                        }
                    }
                    <li class="list-group-item text-truncate">
                        @(processor.CurrentCommand?.CommandId ?? (processor.Paused && !string.IsNullOrWhiteSpace(processor.PauseReason)
                            ? $"Paused: {processor.PauseReason}"
                            : "Idle"))
                    </li>
                    @if (_prevExpanded[processor])
                    {
                        @foreach (var pc in processor.CommandHistory.SkipLast(processor.CurrentCommand is null ? 0 : 1).TakeLast(3).Reverse())
                        {
                            <li class="list-group-item text-truncate bg-body-secondary">@pc</li>
                        }
                    }
                </ul>
            </div>
        }
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-warning" @onclick="@PauseAll">Pause All</button>
        <button type="button" class="btn btn-outline-success" @onclick="@UnpauseAll">Unpause All</button>
        <button type="button" class="btn btn-outline-secondary" @onclick="@CancelAsync">Dismiss</button>
    </div>
</Modal>
