<Modal OnCancel="@DisposeJavascriptAsync" class="modal-xl modal-fullscreen-lg-down">
    <div class="modal-body">
        <video id="@_videoId" class="h-100 w-100 object-fit-contain video-js" controls>
            @* ReSharper disable once RedundantAnonymousTypePropertyName *@
            <source src="@GetVideoPath()" type="@(_localFileMimeType)"/>
            @foreach (var sub in _assSubs.AsEnumerable().Reverse())
            {
                <track kind="subtitles" src="" srclang="@(sub.Lang)" label="@(sub.Title)"/>
            }
        </video>
    </div>
</Modal>
