<table class="table table-hover">
    <thead>
    <tr>
        <th>Ep</th>
        <th>Title</th>
        <th></th>
        <th class="text-end">Files</th>
        <th class="text-end d-none d-md-table-cell">Len</th>
        <th class="text-end d-none d-md-table-cell">Aired</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    @foreach (var ep in _episodes)
    {
        <tr role="button" @onclick="@(() => ToggleEpExpand(ep))">
            <td class="text-end">
                @(ep.EpString)
            </td>
            <td class="absorbing-column">
                <div class="d-inline-flex">
                    @if (_fileCounts[ep.Id] > 0)
                    {
                        <div class="d-inline-block align-self-center">
                            <img loading="lazy" src="@(GetEpisodeThumbnailPath(ep.Id))" class="me-2 d-inline-block" style="height: 5em"/>
                        </div>
                    }
                    <div class="d-inline-block">
                        <span class="text-body">@(ep.TitleTranscription ?? ep.TitleEnglish)</span><br/>
                        <p class="text-body-secondary">
                            <small>@(ep.Summary)</small>
                        </p>
                    </div>
                </div>
            </td>
            <td>
                @if (_watchedEps.Contains(ep.Id))
                {
                    <i class="bi bi-eye"></i>
                }
            </td>
            <td class="text-end">
                @(_fileCounts[ep.Id])
            </td>
            <td class="text-nowrap text-end d-none d-md-table-cell">
                @($"{(ep.DurationMinutes is null ? "??" : ep.DurationMinutes.ToString())}m")
            </td>
            <td class="text-nowrap text-end d-none d-md-table-cell">
                @(ep.AirDate?.ToString("yyyy-MM-dd"))
            </td>
        </tr>
        @if (_episodeExpanded.TryGetValue(ep.Id, out var expanded) && expanded)
        {
            <tr>
                <td colspan="5">
                    @foreach (var aniDbFile in ep.AniDbFiles)
                    {
                        if (aniDbFile.LocalFile is not null)
                        {
                            <FileCard LocalFile="@(aniDbFile.LocalFile)" OnChanged="@Reload"></FileCard>
                        }
                    }
                    @foreach (var localFile in ep.ManualLinkLocalFiles)
                    {
                        <FileCard LocalFile="@localFile" OnChanged="@Reload"></FileCard>
                    }
                </td>
            </tr>
        }
    }
    </tbody>
</table>
