@using Shizou.Data.Enums
<table class="table table-striped table-hover resizable-table-columns">
    <thead>
    <tr>
        <th>Ep</th>
        <th>Title</th>
        <th class="text-center">Files</th>
        <th class="text-center">Length</th>
        <th class="text-center">Aired</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    @foreach (var ep in _episodes.OrderBy(e => e.EpisodeType).ThenBy(e => e.Number))
    {
        var epWatchedState = _epWatchedStates.First(ws => ep.Id == ws.Id);
        <tr role="button" @onclick="@(() => ToggleEpExpand(ep))">
            <td class="text-end">
                @EpisodeTypeExtensions.ToEpString(ep.EpisodeType, ep.Number)
            </td>
            <td>
                @(ep.TitleRomaji ?? ep.TitleEnglish)
            </td>
            <td class="text-end">
                @(_fileCounts[ep.Id])
            </td>
            <td class="text-nowrap text-end">
                @($"{(ep.DurationMinutes is null ? "??" : ep.DurationMinutes.ToString())} min")
            </td>
            <td class="text-nowrap text-end">
                @(ep.AirDate?.ToString("yyyy-MM-dd"))
            </td>
        </tr>
        @if (_episodeExpanded.TryGetValue(ep.Id, out var expanded) && expanded)
        {
            <tr>
                <td colspan="5">
                    @foreach (var (aniDbFile, watchedState, localFile) in _files[ep.Id])
                    {
                        <FileCard AniDbFile="@aniDbFile" FileWatchedState="@watchedState" LocalFile="@localFile" EpisodeWatchedState="@null"></FileCard>
                    }
                    @foreach (var localFile in _manualLinks[ep.Id])
                    {
                        <FileCard AniDbFile="@null" FileWatchedState="@null" LocalFile="@localFile" EpisodeWatchedState="@epWatchedState"></FileCard>
                    }
                </td>
            </tr>
        }
    }
    </tbody>
</table>
