@using Shizou.Server.Extensions
<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="d-flex justify-content-between">
                <div>
                    @if (!LocalFile.IsMissing())
                    {
                        <button class="btn btn-primary me-2" type="button" @onclick="@(() => OpenVideoAsync(LocalFile.Id))">
                            <i class="bi bi-play"></i> Play
                        </button>
                        <a class="btn btn-primary me-2" href="@(PlayExternalPlaylist(true))">
                            <i class="bi bi-play"></i> Play External
                        </a>
                        <a class="btn btn-primary me-2" href="@(PlayExternalPlaylist(false))">
                            <i class="bi bi-play"></i> Play External Playlist
                        </a>
                    }
                    else
                    {
                        <i class="bi bi-file-earmark-x text-warning btn"></i>
                    }
                </div>
                <div>
                    @if (AniDbFile is null)
                    {
                        <button class="btn btn-outline-danger" @onclick="@(() => UnlinkAsync(LocalFile))">
                            <i class="bi bi-slash-circle"></i> Unlink File
                        </button>
                    }
                    <button class="btn @(WatchedState.Watched ? "btn-outline-danger" : "btn-outline-success") me-2" type="button" @onclick:stopPropagation="true" @onclick="@(async () => await MarkAsync(!WatchedState.Watched))">
                        <i class="bi @(WatchedState.Watched ? "bi-eye-slash" : "bi-eye")"></i>
                    </button>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <span>
                <strong>
                    @if (AniDbFile is null)
                    {
                        @("Manual Link")
                    }
                    else if (AniDbFile.AniDbGroup is not null)
                    {
                        <a href="https://anidb.net/group/@(AniDbFile.AniDbGroupId)" target="_blank">[@(AniDbFile.AniDbGroup.ShortName)]</a>
                        <span>&nbsp;</span>
                    }
                    else
                    {
                        <span>No Group&nbsp;</span>
                    }
                </strong>
                @if (AniDbFile?.Video is not null)
                {
                    <span>@(AniDbFile.Video.Height)x@(AniDbFile.Video.Width) @(AniDbFile.Video.ColorDepth)bit&nbsp;</span>
                }
                <strong>@(AniDbFile?.Source)</strong>
                @(LocalFile.Crc)
            </span>
        </li>
        <li class="list-group-item">
            @Path.GetFileName(LocalFile.PathTail)
        </li>
    </ul>
</div>
