@using Shizou.Data.CommandInputArgs
@using Shizou.Data.Enums
<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="d-flex flex-wrap">
                <div class="btn-group me-auto">
                    <button class="btn btn-success mb-1" type="button" @onclick="@(() => OpenVideoAsync(LocalFile.Id))">
                        <i class="bi bi-play-fill"></i>
                    </button>
                    <a class="btn btn-success mb-1" type="button" href="@(GetExternalPlaylistUri(true))">
                        <i class="bi bi-cast"></i>
                    </a>
                </div>
                @if (LocalFile.AniDbFile is null)
                {
                    <button class="btn btn-outline-danger me-1 mb-1" type="button" @onclick="@(() => UnlinkAsync(LocalFile))">
                        <i class="bi bi-slash-circle"></i> Unlink File
                    </button>
                }
                <button class="btn btn-primary me-1 mb-1" type="button" @onclick="@(() => CommandService.Dispatch(new HashArgs(Path.Combine(LocalFile.ImportFolder!.Path, LocalFile.PathTail))))">
                    <i class="bi bi-hash"></i> Rehash
                </button>
                <button class="btn btn-primary me-1 mb-1" type="button" @onclick="@(() => CommandService.Dispatch(new ProcessArgs(LocalFile.Id, IdTypeLocalOrFile.LocalId)))">
                    <i class="bi bi-hash"></i> Rescan
                </button>
                <button type="button" class="btn @(_watchedState.Watched ? "btn-outline-danger" : "btn-outline-success") me-1 mb-1" @onclick="@(async () => await MarkAsync(!_watchedState.Watched))">
                    <i class="bi @(_watchedState.Watched ? "bi-eye-slash" : "bi-eye")"></i>
                </button>
            </div>
        </li>
        <li class="list-group-item">
            <span>
                <strong>
                    @if (LocalFile.AniDbFile is null)
                    {
                        @("Manual Link")
                    }
                    else if (LocalFile.AniDbFile.AniDbGroup is not null)
                    {
                        <a href="https://anidb.net/group/@(LocalFile.AniDbFile.AniDbGroupId)" target="_blank">[@(LocalFile.AniDbFile.AniDbGroup.ShortName)]</a>
                        <span>&nbsp;</span>
                    }
                    else
                    {
                        <span>No Group&nbsp;</span>
                    }
                </strong>
                @if (LocalFile.AniDbFile?.Video is not null)
                {
                    <span>@(LocalFile.AniDbFile.Video.Height)x@(LocalFile.AniDbFile.Video.Width) @(LocalFile.AniDbFile.Video.ColorDepth)bit&nbsp;</span>
                }
                <strong>@(LocalFile.AniDbFile?.Source)</strong>
                @(LocalFile.Crc)
            </span>
        </li>
        <li class="list-group-item">
            @Path.GetFileName(LocalFile.PathTail)
        </li>
    </ul>
</div>
