<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="d-flex justify-content-between">
                <div>
                    <button class="btn btn-primary me-2" type="button" @onclick="@(() => OpenVideoAsync(LocalFile.Id))">
                        <i class="bi bi-play"></i> Play
                    </button>
                    <a class="btn btn-primary me-2" href="@(PlayExternalPlaylist(true))">
                        <i class="bi bi-play"></i> Play External
                    </a>
                    <a class="btn btn-primary me-2" href="@(PlayExternalPlaylist(false))">
                        <i class="bi bi-play"></i> Play External Playlist
                    </a>
                </div>
                <div>
                    @if (LocalFile.AniDbFile is null)
                    {
                        <button class="btn btn-outline-danger" @onclick="@(() => UnlinkAsync(LocalFile))">
                            <i class="bi bi-slash-circle"></i> Unlink File
                        </button>
                    }
                    <button type="button" class="btn @(_watchedState.Watched ? "btn-outline-danger" : "btn-outline-success") me-2" @onclick="@(async () => await MarkAsync(!_watchedState.Watched))">
                        <i class="bi @(_watchedState.Watched ? "bi-eye-slash" : "bi-eye")"></i>
                    </button>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <span>
                <strong>
                    @if (LocalFile.AniDbFile is null)
                    {
                        @("Manual Link")
                    }
                    else if (LocalFile.AniDbFile.AniDbGroup is not null)
                    {
                        <a href="https://anidb.net/group/@(LocalFile.AniDbFile.AniDbGroupId)" target="_blank">[@(LocalFile.AniDbFile.AniDbGroup.ShortName)]</a>
                        <span>&nbsp;</span>
                    }
                    else
                    {
                        <span>No Group&nbsp;</span>
                    }
                </strong>
                @if (LocalFile.AniDbFile?.Video is not null)
                {
                    <span>@(LocalFile.AniDbFile.Video.Height)x@(LocalFile.AniDbFile.Video.Width) @(LocalFile.AniDbFile.Video.ColorDepth)bit&nbsp;</span>
                }
                <strong>@(LocalFile.AniDbFile?.Source)</strong>
                @(LocalFile.Crc)
            </span>
        </li>
        <li class="list-group-item">
            @Path.GetFileName(LocalFile.PathTail)
        </li>
    </ul>
</div>
