@using Shizou.Data.Enums.Mal
<div class="border border-primary rounded p-1 d-inline-block">
    <img src="icons/mal.ico" style="height: 1.5em"/>
    <a href="https://myanimelist.net/anime/@(MalAnime.Id)" target="_blank" class="align-middle">@(MalAnime.Title)</a>
    @if (MalAnime.Status is not null)
    {
        <EditForm Model="MalAnime.Status" OnSubmit="@UpdateStatusAsync">
            <InputSelect @bind-Value="@(MalAnime.Status.State)">
                @foreach (var state in Enum.GetValues<AnimeState>())
                {
                    <option>@state</option>
                }
            </InputSelect>
            <InputNumber @bind-Value="@(MalAnime.Status.WatchedEpisodes)" style="width: 3em;"></InputNumber> / @(MalAnime.EpisodeCount)
            <button type="submit" class="btn btn-primary">Update</button>
        </EditForm>
    }
    else
    {
        <button type="button" class="btn btn-link" @onclick="@AddStatusAsync">
            <i class="bi bi-plus-circle-fill text-success"></i>
        </button>
    }
</div>
