@page "/Account/ChangePassword"

<PageTitle>Change Password</PageTitle>
<h1>Change Password</h1>

<StatusMessage/>
<EditForm Model="@Input" method="post" style="max-width: 30rem" OnValidSubmit="@ChangePasswordAsync" FormName="changePassword">
    <DataAnnotationsValidator/>
    <ValidationSummary class="text-danger" role="alert"/>
    @if (_adminUser is not null)
    {
        <div class="form-floating mb-2">
            <InputText id="password" @bind-Value="@(Input.Password)" type="password" placeholder="Password" class="form-control" autocomplete="current-password" aria-required="true"></InputText>
            <label for="password" class="form-label">Password</label>
        </div>
    }
    <div class="form-floating mb-2">
        <InputText id="new-password" @bind-Value="@(Input.NewPassword)" type="password" placeholder="New Password" class="form-control" autocomplete="new-password" aria-required="true"></InputText>
        <label for="new-password" class="form-label">New Password</label>
    </div>
    <div class="form-floating mb-2">
        <InputText id="confirm-password" @bind-Value="@(Input.ConfirmNewPassword)" type="password" placeholder="Confirm Password" class="form-control" autocomplete="new-password" aria-required="true"></InputText>
        <label for="confirm-password" class="form-label">Confirm Password</label>
    </div>
    <div>
        <button type="submit" class="w-100 btn btn-lg btn-primary mb-2">Change Password</button>
    </div>
</EditForm>
