@page "/Settings"
@using Shizou.Data
@using Shizou.Data.Enums

<PageTitle>Settings</PageTitle>

<main class="container-md">
    <EditForm Model="@_options" OnValidSubmit="@SaveAsync">
        <div class="mb-2">
            <label class="form-label">
                AniDB Username
                <input class="form-control-plaintext" readonly value="@(_options.AniDb.Username)">
            </label>
            <label class="form-label">
                AniDB Password
                <InputText class="form-control" type="password" @bind-Value="@(_options.AniDb.Password)"></InputText>
            </label>
        </div>
        <div class="mb-2">
            <label class="form-label">
                AniDB API Host
                <InputText class="form-control" @bind-Value="@(_options.AniDb.ServerHost)"></InputText>
            </label>
            <label class="form-label">
                AniDB HTTP Server Port
                <InputNumber class="form-control" @bind-Value="@(_options.AniDb.HttpServerPort)"></InputNumber>
            </label>
        </div>
        <div class="mb-2">
            <label class="form-label">
                AniDB UDP Client Port
                <InputNumber class="form-control" @bind-Value="@(_options.AniDb.UdpClientPort)"></InputNumber>
            </label>
            <label class="form-label">
                AniDB UDP Server Port
                <InputNumber class="form-control" @bind-Value="@(_options.AniDb.UdpServerPort)"></InputNumber>
            </label>
        </div>
        <div class="mb-2">
            <label class="form-label">
                AVDump UDP Key
                <InputText class="form-control" @bind-Value="@(_options.AniDb.AvDump.UdpKey)"></InputText>
            </label>
            <label class="form-label">
                AVDump UDP Client Port
                <InputNumber class="form-control" @bind-Value="@(_options.AniDb.AvDump.UdpClientPort)"></InputNumber>
            </label>
        </div>
        <div class="mb-2">
            <label class="form-label">
                Anime relation fetch depth
                <InputNumber class="form-control" @bind-Value="@(_options.AniDb.FetchRelationDepth)"></InputNumber>
            </label>
        </div>
        <div class="mb-2">
            <label class="form-label">
                Disable MyList Sync
                <InputCheckbox class="form-check-inline" @bind-Value="@(_options.AniDb.MyList.DisableSync)"></InputCheckbox>
            </label>
        </div>
        <div class="mb-2">
            <label class="form-label me-3">
                Present files state
                <InputSelect class="form-select" @bind-Value="@(_options.AniDb.MyList.PresentFileState)">
                    @foreach (var state in Enum.GetValues<MyListState>())
                    {
                        <option value="@state">@state</option>
                    }
                </InputSelect>
            </label>
            <label class="form-label">
                Absent files state
                <InputSelect class="form-select" @bind-Value="@(_options.AniDb.MyList.AbsentFileState)">
                    @foreach (var state in Enum.GetValues<MyListState>())
                    {
                        <option value="@state">@state</option>
                    }
                </InputSelect>
            </label>
        </div>
        <div class="mb-2">
            <label class="form-label">
                MyAnimeList Client ID
                <InputText class="form-control" @bind-Value="@(_options.MyAnimeList.ClientId)"></InputText>
            </label>
        </div>
        <div class="mb-2">
            <label class="form-label">
                External Player Scheme
                <InputText class="form-control" @bind-Value="@_externalPlayerScheme"></InputText>
            </label>
        </div>
        <div class="mb-2">
            <label class="form-label">
                Scan File Extensions (space delimited)
                <InputTextArea class="form-control" @bind-Value="@FileExtensionWrapper"></InputTextArea>
            </label>
        </div>
        <button type="submit" class="btn btn-success">Save</button>
    </EditForm>

    <div class="card mt-3" style="width: 18rem">
        <div class="card-header">Scheme Handler Downloads</div>
        <div class="card-body">
            <a class="btn btn-success me-2" href="@(Constants.SchemeHandlerWindowsDownloadUri)">Windows x64</a>
            <a class="btn btn-success" href="@(Constants.SchemeHandlerLinuxDownloadUri)">Linux x64</a>
        </div>
    </div>
</main>
